<!DOCTYPE html>
<html lang="pt-BR">
<head th:replace="~{fragments/links :: headContent('')}"></head>
<title>Meus comunicados - CanalFacul</title>
<body class="bg-gradient-to-tr from-[#0F111A] via-[#151926] to-[#181C27] text-text-primary min-h-screen">

<div class="flex min-h-screen">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <div class="flex-1 flex flex-col">
        <div th:replace="~{fragments/header :: header('Meus comunicados', 'Visualize e gerencie todos os seus comunicados enviados recentemente')}"></div>

        <main class="p-6">
            <!-- conteudo principal !-->
        </main>

</body>
</html>