<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headContent(extraCss)">
    <link rel="stylesheet" th:href="@{/css/input.css}" />
    <link rel="stylesheet" th:href="@{/css/output.css}" />
    <link rel="stylesheet" th:href="@{/css/global.css}" />
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/favicon/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon/favicon-16x16.png}">
    <link rel="manifest" th:href="@{/favicon/site.webmanifest}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.22.0/dist/sweetalert2.min.css" rel="stylesheet">
    <link th:if="${extraCss}" th:href="${extraCss}" rel="stylesheet">
</head>
